:root {
  /* カラー */
  --white: #fff;
  --black: #000;
  --gray: #f5f3f3;
  --accent: #e74040;
}

body {
  font-family: 'Shippori Mincho', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

ul {
  list-style: none;
}
